<template>
  <div id="app">
    <kanban-board :stages="stages" :blocks="blocks" @update-block="updateBlock"></kanban-board>
  </div>
</template>

<script>
import Kanban from './components/Kanban'
import draggable from 'vuedraggable'


export default {
  name: 'App',
  components: {
    Kanban,
    draggable
  },
  data () {
    return {
      stages: this.$store.state.data.stages,
      blocks: this.$store.state.data.blocks,
    }
  },
  methods: {
    updateBlock(id, status) {
      this.blocks.find(b => b.id === Number(id)).status = status;
      localStorage.setItem('blocks', JSON.stringify(this.blocks));
    },
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
li{
  border:1px solid #ccc;
  padding:2px;
}
</style>

<style lang="scss">
  @import 'assets/kanban.scss';
</style>